# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Java bin
bin

# Ignore VSCode workspace settings
.vscode

# Ignore save file from local testing
minesweeper_save.txt
