@font-face {
  font-family: "MINE-SWEEPER";
  src: url("fonts/mine-sweeper.ttf");
}
@font-face {
  font-family: "Digital-7";
  src: url("fonts/digital-7.ttf");
}
.root {
  -fx-font-family: "MINE-SWEEPER";
  -fx-font-size: 14px;
  -fx-background-color: #b9b9b9;
  -fx-border-color: #fdfcfd #757575 #757575 #fdfcfd;
  -fx-border-width: 4;
  -fx-border-style: solid inside line-join miter 1;
}
.container {
  -fx-border-color: #757575 #fdfcfd #fdfcfd #757575;
  -fx-border-width: 4;
  -fx-border-style: solid inside line-join miter 1;
}
.grid {
  -fx-font-size: 10px;
}
.button {
  -fx-background-radius: 0;
  -fx-background-color: #b9b9b9;
  -fx-border-color: #fdfcfd #757575 #757575 #fdfcfd;
  -fx-border-width: 4;
  -fx-border-style: solid inside line-join miter 1;
}
.revealed {
  -fx-border-color: #757575;
  -fx-border-width: 1;
}
.bombCounter {
  -fx-font-family: "Digital-7";
  -fx-background-color: #000000;
  -fx-font-size: 53px;
}
.hasBackground {
  -fx-background-repeat: no-repeat;
  -fx-background-size: contain;
  -fx-background-position: center;
}
.flagged {
  -fx-background-image: url("img/minesweeperFlag.png");
}
.won {
  -fx-background-image: url("img/minesweeperCoolface.png");
}
.lost {
  -fx-background-image: url("img/minesweeperSadface.png");
}
.ingame {
  -fx-background-image: url("img/minesweeperSmileyface.png");
}
.pressed {
  -fx-background-image: url("img/minesweeperWowface.png");
}
.blue {
  -fx-text-fill: #0000ff;
}
.green {
  -fx-text-fill: #008200;
}
.red {
  -fx-text-fill: #ff0000;
}
.darkblue {
  -fx-text-fill: #000084;
}
.brown {
  -fx-text-fill: #840000;
}
.cyan {
  -fx-text-fill: #008284;
}
.pink {
  -fx-text-fill: #840084;
}
.gray {
  -fx-text-fill: #757575;
}
